<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Todo List 📝</h1>
        <form action="/add" method="POST">
            <input type="text" name="title" placeholder="Enter your task..." required>
            <input type="text" name="description" placeholder="Enter a short description..." >
            <button type="submit">Add Task</button>
            
        </form>
        <ul>
            {% for task in tasks %}
                <li>
                    <div class="task-content {% if task.completed %}completed{% endif %}">
                        <strong>{{ task.title }}</strong><br>
                        <small>{{ task.description }}</small>
                    </div>
                    <div class="task-actions">
                        <a href="{{ url_for('complete', id=task.id) }}">✅</a>
                        <a href="{{ url_for('delete', id=task.id) }}">🗑️</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
    </div>
</body>
</html>
